html, body, .leaflet-container, body>div { height: 100% }

.event-marker {
  background-image: url('../images/dot.png');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  position:absolute;
  text-align: center;
  img {
    margin-top:3px;
  }
  color: white;
}